/.vs/config/applicationhost.config
/.vs/Rasa.CreatureCreator/v15/.suo
/.vs/Rasa.CreatureCreator/v15/Server/sqlite3/db.lock
/.vs/Rasa.CreatureCreator/v15/Server/sqlite3/storage.ide
/.vs/Rasa.CreatureCreator/v15/Server/sqlite3/storage.ide-shm
/.vs/Rasa.CreatureCreator/v15/Server/sqlite3/storage.ide-wal
/Rasa.CreatureCreator/bin/Debug/app.publish/Rasa.CreatureCreator.exe
/Rasa.CreatureCreator/bin/Debug/appsettings.json
/Rasa.CreatureCreator/bin/Debug/Google.Protobuf.dll
/Rasa.CreatureCreator/bin/Debug/Google.Protobuf.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.Abstractions.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.Abstractions.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.Binder.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.Binder.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.FileExtensions.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.FileExtensions.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.Json.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.Json.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Configuration.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.FileProviders.Abstractions.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.FileProviders.Abstractions.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.FileProviders.Physical.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.FileProviders.Physical.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.FileSystemGlobbing.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.FileSystemGlobbing.xml
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Primitives.dll
/Rasa.CreatureCreator/bin/Debug/Microsoft.Extensions.Primitives.xml
/Rasa.CreatureCreator/bin/Debug/MySql.Data.dll
/Rasa.CreatureCreator/bin/Debug/MySql.Data.xml
/Rasa.CreatureCreator/bin/Debug/Newtonsoft.Json.dll
/Rasa.CreatureCreator/bin/Debug/Newtonsoft.Json.xml
/Rasa.CreatureCreator/bin/Debug/Rasa.CreatureCreator.application
/Rasa.CreatureCreator/bin/Debug/Rasa.CreatureCreator.exe
/Rasa.CreatureCreator/bin/Debug/Rasa.CreatureCreator.exe.config
/Rasa.CreatureCreator/bin/Debug/Rasa.CreatureCreator.exe.manifest
/Rasa.CreatureCreator/bin/Debug/Rasa.CreatureCreator.pdb
/Rasa.CreatureCreator/bin/Debug/System.Buffers.dll
/Rasa.CreatureCreator/bin/Debug/System.Buffers.xml
/Rasa.CreatureCreator/bin/Debug/System.Memory.dll
/Rasa.CreatureCreator/bin/Debug/System.Memory.xml
/Rasa.CreatureCreator/bin/Debug/System.Numerics.Vectors.dll
/Rasa.CreatureCreator/bin/Debug/System.Numerics.Vectors.xml
/Rasa.CreatureCreator/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
/Rasa.CreatureCreator/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
/Rasa.CreatureCreator/bin/Release/app.publish/Rasa.CreatureCreator.exe
/Rasa.CreatureCreator/bin/Release/appsettings.json
/Rasa.CreatureCreator/bin/Release/Google.Protobuf.dll
/Rasa.CreatureCreator/bin/Release/Google.Protobuf.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.Abstractions.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.Abstractions.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.Binder.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.Binder.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.FileExtensions.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.FileExtensions.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.Json.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.Json.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Configuration.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.FileProviders.Abstractions.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.FileProviders.Abstractions.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.FileProviders.Physical.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.FileProviders.Physical.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.FileSystemGlobbing.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.FileSystemGlobbing.xml
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Primitives.dll
/Rasa.CreatureCreator/bin/Release/Microsoft.Extensions.Primitives.xml
/Rasa.CreatureCreator/bin/Release/MySql.Data.dll
/Rasa.CreatureCreator/bin/Release/MySql.Data.xml
/Rasa.CreatureCreator/bin/Release/Newtonsoft.Json.dll
/Rasa.CreatureCreator/bin/Release/Newtonsoft.Json.xml
/Rasa.CreatureCreator/bin/Release/Rasa.CreatureCreator.application
/Rasa.CreatureCreator/bin/Release/Rasa.CreatureCreator.exe
/Rasa.CreatureCreator/bin/Release/Rasa.CreatureCreator.exe.config
/Rasa.CreatureCreator/bin/Release/Rasa.CreatureCreator.exe.manifest
/Rasa.CreatureCreator/bin/Release/Rasa.CreatureCreator.pdb
/Rasa.CreatureCreator/bin/Release/System.Buffers.dll
/Rasa.CreatureCreator/bin/Release/System.Buffers.xml
/Rasa.CreatureCreator/bin/Release/System.Memory.dll
/Rasa.CreatureCreator/bin/Release/System.Memory.xml
/Rasa.CreatureCreator/bin/Release/System.Numerics.Vectors.dll
/Rasa.CreatureCreator/bin/Release/System.Numerics.Vectors.xml
/Rasa.CreatureCreator/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
/Rasa.CreatureCreator/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
/Rasa.CreatureCreator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.application
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.csproj.CopyComplete
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.csproj.CoreCompileInputs.cache
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.csproj.FileListAbsolute.txt
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.csproj.GenerateResource.cache
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.csprojAssemblyReference.cache
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.exe
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.exe.manifest
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.Form1.resources
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.pdb
/Rasa.CreatureCreator/obj/Debug/Rasa.CreatureCreator.Properties.Resources.resources
/Rasa.CreatureCreator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rasa.CreatureCreator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rasa.CreatureCreator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rasa.CreatureCreator/obj/Release/DesignTimeResolveAssemblyReferences.cache
/Rasa.CreatureCreator/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.application
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.csproj.CopyComplete
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.csproj.CoreCompileInputs.cache
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.csproj.FileListAbsolute.txt
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.csproj.GenerateResource.cache
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.csprojAssemblyReference.cache
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.exe
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.exe.manifest
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.Form1.resources
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.pdb
/Rasa.CreatureCreator/obj/Release/Rasa.CreatureCreator.Properties.Resources.resources
/Rasa.CreatureCreator/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Rasa.CreatureCreator/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Rasa.CreatureCreator/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Rasa.CreatureCreator/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
/Rasa.CreatureCreator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Rasa.CreatureCreator/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
